/* Swiper Pagination Bullet Styles */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #007bff; /* Custom color */
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #0056b3;
  opacity: 1;
}
